body{
  background-color: #191C22;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  /*font-family: 'Nunito', sans-serif;*/
}

h1{
  font-family: 'Nunito', sans-serif;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.pfeil-oben{
  position: fixed;
  top: 0;
  right: 0;
  width: 188px;
  height: 188px;
}

.pfeil-unten{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 188px;
  height: 188px;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
}

.logo{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 73px;
  height: 86px;
}

.index{
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 48px;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

.inhalt{
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
  color: #ffffff;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 800px) {
  .pfeil-oben{
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
    width: 117px;
    height: 117px;
  }
  .pfeil-unten{
    bottom: 10px;
    right: 0;
    top: auto;
    left: auto;
    width: 117px;
    height: 117px;
  }
}
