html,
body{
  margin: 20px 50px 20px 0;
  font-family: consolas;
  box-sizing: border-box;
  background-color: #000000
}

*{
  margin: 0;
  padding: 0;
}

#particles-js{
  padding: 0;
  margin: 0;
  height: 100%
  position:relative;
  top: -5000px;
}

body{
  height: 100vh;
  width: 0:
  padding: 0;
}

.nav-item{
  position: relative;
  display: inline-block;
  padding: 1em;
  margin: 40px 20px;
  color: #03e9f4;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.nav-item:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

.logo{
  position: relative;
    top: -650px;
    left: 850px;
    width: 430px;
    height: 430px;
}

.mini-infotext{
  width: 600px;
  left: 200px;
  position: relative;
  color: #FFFFFF;
  top: -950px;
}

.mini-infotext-titel{
    font-family: Rubik;
    position: relative;
    left: 400px;
    top: -1000px;
    color: #03e9f4;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav{
  color: gray;
}
