body{
  background-color: #191C22;
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
  /*font-family: 'Nunito', sans-serif;*/
}

h1{
  font-family: 'Nunito', sans-serif;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.pfeil-oben{
  position: fixed;
  top: 0;
  right: 0;
  width: 188px;
  height: 188px;
}

.pfeil-unten{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 188px;
  height: 188px;
}
